figures_ordering/
.DS_Store
final/
final_sm/
old/
two_stage_v2_final.tex
Figures_ordered/
SM.pdf
formatted.bib
two_stage_1.pdf
two_stage_1.tex
*.aux
*.log
*.out
*.synctex.gz
*.fls
*.fdb_latexmk
*.bbl
*.blg
*.toc
